global:
  storageClass: {{ rbd_provisioner_storage_class | default('rbd') }}

{% if container_registry_enabled %}
init:
  image:
    repository: {{ keycloak_init_image }}
    tag: {{ keycloak_init_image_tag }}
{% endif %}
keycloak:
{% if container_registry_enabled %}
  image:
    repository: {{ keycloak_image }}
    tag: {{ keycloak_image_tag }}
  test:
    image:
      repository: {{ keycloak_test_image }}
      tag: {{ keycloak_test_image_tag }}
{% endif %}
  ingress:
    enabled: true
    hosts:
      - {{ keycloak_domain }}
    tls:
      - hosts:
        - {{ keycloak_domain }}
        secretName: tls-keycloak
  password: {{ keycloak_password }}
  persistence:
    deployPostgres: true
    dbVendor: postgres
postgresql-ha:
{% if container_registry_enabled %}
  postgresqlImage:
    registry: {{ postgresql_image_registry }}
    repository: {{ postgresql_image }}
    tag: {{ postgresql_image_tag }}
  pgpoolImage:
    registry: {{ postgresql_pgpool_registry }}
    repository: {{ postgresql_pgpool_image }}
    tag: {{ postgresql_pgpool_image_tag }}
  metricsImage:
    registry: {{ postgresql_exporter_registry }}
    repository: {{ postgresql_exporter_image }}
    tag: {{ postgresql_exporter_image_tag }}
  volumePermissionsImage:
    registry: {{ postgresql_minideb_registry }}
    repository: {{ postgresql_minideb_image }}
    tag: {{ postgresql_minideb_image_tag }}
{% endif %}
  postgresql:
    password: {{ keycloak_db_password }}
    repmgrPassword: {{ keycloak_db_repmgr_password }}
  networkPolicy:
    enabled: false
    allowExternal: true
  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 20Gi
{% if postgresql_metrics_enabled %}
  metrics:
    enabled: true
{% endif %}
