[DEFAULT]
debug = true
debug_tracebacks_in_api = true
use_syslog = false
use_stderr = false
transport_url = rabbit://openstack:password@{{ ironic_server }}:5672//
auth_strategy = noauth
my_ip = {{ ironic_server }}
enabled_drivers = pxe_ipmitool

[conductor]
api_url = http://{{ ironic_server }}:6385
automated_clean = false
clean_callback_timeout = 3600
deploy_callback_timeout = 3600

[database]
connection = mysql+pymysql://ironic:password@{{ ironic_server }}/ironic?charset=utf8

[dhcp]
dhcp_provider = none

[agent]
deploy_logs_collect = never

[pxe]
tftp_root = {{ tftp_path }}
tftp_master_path = {{ tftp_path }}/master_images
tftp_server = {{ ironic_server }}

