{% if ironic_nodes is defined %}
{% for node in ironic_nodes %}
{{ node.name }}	{{ node.driver }}	{{ node.driver_address }}	{{ node.driver_user }}	{{ node.driver_password }}	{{ node.mac }}	{{ node.ip }}
{% endfor %}
{% endif %}
