*.retry
.idea
*.swp
artifacts/
docker_registry/
/armada/
kubespray/
charts/
mirrors/
manifests/
ironic-image/
taco-gate-inventories/
my-inventory/
roles/decapod/files/argocd-linux-amd64
roles/decapod/files/argo-linux-amd64.gz
roles/decapod/files/argo-linux-amd64
roles/decapod/files/decapod_flow/
roles/decapod/files/helm-operator/
roles/helm-repository/files/chartmuseum
