[submodule "armada"]
	path = armada
	url = https://tde.sktelecom.com/stash/scm/oreotools/armada.git
[submodule "kubespray"]
	path = kubespray
	url = https://github.com/kubernetes-incubator/kubespray.git
[submodule "charts/openstack-helm-infra"]
	path = charts/openstack-helm-infra
	url = https://tde.sktelecom.com/stash/scm/openstack/openstack-helm-infra
[submodule "charts/openstack-helm"]
	path = charts/openstack-helm
	url = https://tde.sktelecom.com/stash/scm/openstack/openstack-helm
[submodule "ceph-ansible"]
	path = ceph-ansible
	url = https://github.com/ceph/ceph-ansible.git
	branch = stable-3.1
