OS_AUTH_URL={{os_auth_url}}
OS_IDENTITY_API_VERSION=3
OS_IMAGE_API_VERSION=2
OS_PROJECT_DOMAIN_NAME={{os_project_domain}}
OS_USER_DOMAIN_NAME={{os_user_domain}}
OS_PROJECT_NAME={{os_project_name}}
OS_USERNAME={{os_user_name}}
OS_PASSWORD={{os_password}}
