[ceph_stable]
baseurl = http://{{ ceph_repo_url }}/ceph/rpm-nautilus/el7/$basearch
gpgcheck = 0
name = Ceph Stable $basearch repo
priority = 2

[ceph_stable_noarch]
baseurl = http://{{ ceph_repo_url }}/ceph/rpm-nautilus/el7/noarch
gpgcheck = 0
name = Ceph Stable noarch repo
priority = 2

