[epel]
name=Local Extra Packages for Enterprise Linux 7 - $basearch
baseurl=http://{{ localrepo_yum }}/epel/7/$basearch
failovermethod=priority
enabled=1
gpgcheck=1
gpgkey=http://{{ localrepo_yum }}/epel/RPM-GPG-KEY-EPEL-7
