
workflowArchive:
  enabled: {{ argo_workflow_archive_enabled }} 
workflowController:
  image:
    repository: {{ argo_workflow_controller_image_repo }} 
    tag: {{ argo_version }} 
  executor:
    image:
      repository: {{ argo_workflow_executor_image_repo }} 
      tag: {{ argo_version }} 
argoServer:
  image:
    repository: {{ argo_server_image_repo }} 
    tag: {{ argo_version }} 
nodeSelector: {{ argo_node_selector }} 
mysql:
  enabled: {{ argo_workflow_archive_enabled }} 
  image:
    repository: {{ argo_mysql_image_repo }} 
    tag: {{ argo_mysql_version }} 
  persistence:
    storageClass: {{ taco_storageclass_name }} 
    size: {{ argo_archive_storage_size }} 
  nodeSelector: {{ argo_node_selector }}
server:
  servicePortName: http
controller:
  metricsConfig:
  enabled: true
  telemetryConfig:
    enabled: true
  metricsConfig:
    enabled: true