[Service]
Environment={% if container_registry_proxy is defined %}"HTTP_PROXY={{ container_registry_proxy }}"{% endif %} {% if container_registry_proxy is defined %}"HTTPS_PROXY={{ container_registry_proxy }}"{% endif %} {% if no_proxy is defined %}"NO_PROXY={{ no_proxy }}"{% endif %}
