{% if container_registry_proxy is defined %}
[Service]
Environment="HTTP_PROXY={{ container_registry_proxy }}"
Environment="HTTPS_PROXY={{ container_registry_proxy }}"{% endif %}
{% if no_proxy is defined %}
Environment="NO_PROXY={{ no_proxy }}"
{% endif %}
