[docker-ce]
name=Docker-CE Repository
baseurl=http://{{ pkg_repo_url }}/docker/linux/centos/7/\$basearch/stable
enabled=1
gpgcheck=1
gpgkey=http://{{ pkg_repo_url }}/docker/linux/centos/gpg

[docker-engine]
name=Docker-Engine Repository
baseurl=http://{{ pkg_repo_url }}/dockerproject/repo/main/centos/7
enabled=1
gpgcheck=1
gpgkey=http://{{ pkg_repo_url }}/dockerproject/gpg
