apiVersion: v1
kind: Service
metadata:
  labels:
    app: helm
    name: tiller
  name: tiller-deploy
  namespace: kube-system
spec:
  ports:
  - name: tiller
    protocol: TCP
    port: 44134
    targetPort: 44134
    nodePort: {{ tiller_port }}
  selector:
    app: helm
    name: tiller
  sessionAffinity: None
  type: NodePort
