[base]
name=Local CentOS-$releasever - Base
baseurl=http://{{ pkg_repo_url }}/centos/$releasever/os/$basearch/
gpgcheck=1
gpgkey=http://{{ pkg_repo_url }}/centos/RPM-GPG-KEY-CentOS-7

[updates]
name=Local CentOS-$releasever - Updates
baseurl=http://{{ pkg_repo_url }}/centos/$releasever/updates/$basearch/
gpgcheck=1
gpgkey=http://{{ pkg_repo_url }}/centos/RPM-GPG-KEY-CentOS-7

[extras]
name=Local CentOS-$releasever - Extras
baseurl=http://{{ pkg_repo_url }}/centos/$releasever/extras/$basearch/
gpgcheck=1
gpgkey=http://{{ pkg_repo_url }}/centos/RPM-GPG-KEY-CentOS-7
